<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <img src="../../../assets/bit.jpeg" class="bitimg">
    </div>

    <a (click)="openSm(content)" placement="bottom" role="button" style="width: 50px; text-align: center;" class="popove">
      <i class="fa-solid fa-ellipsis-vertical" style="zoom: 1.5; color: black;"></i>
    </a>
</nav>

<ng-template #content let-modal placement="bottom">
  <div class="modal-body">
    <a role="button" (click)="logout()">Cerrar sesión</a>
    <hr>
    <a role="button" (click)="logout()">Cerrar sesión</a>
  </div>
</ng-template>  
    
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('../../../assets/Banner-principal.jpg')">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('../../../assets/Banner-2.jpg')">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('../../../assets/Banner-3.jpg')">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('../../../assets/Banner-4.jpg')">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="carousel-item active" style="background-image: url('../../../assets/Página-de-inicio.jpg')">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  
    <!-- CARDS DIAS -->
  
    <div class="main-container">
      <div class="heading">
        <h1 class="heading__title">Conferencias</h1>
      </div>
      <div class="cards">
        <div class="card card-2" routerLink="/one" id="primerdia">
          <div class="card__icon"><i class="fa-solid fa-paper-plane"></i></div>
          <h2 class="card__title">Primer día (24 Marzo)</h2>
          <p class="card__apply">
            <a class="card__link" href="/one">Ir<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-3" routerLink="/two" id="segundodia">
          <div class="card__icon"><i class="fa-solid fa-paper-plane"></i></div>
          <h2 class="card__title">Segundo día (25 Marzo)</h2>
          <p class="card__apply">
            <a class="card__link" href="/two">Ir<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
    </div>
    
  
  
    <!-- CARROUSEL PONENTES -->
  
    <div class="heading">
      <h1 class="heading__title">Ponentes</h1>
    </div>
  
    <div class="slider">
      <input type="radio" name="testimonial" id="t-1" />
    <input type="radio" name="testimonial" id="t-2" />
    <input type="radio" name="testimonial" id="t-3" />
    <input type="radio" name="testimonial" id="t-4" />
    <input type="radio" name="testimonial" id="t-5" checked/>
    <input type="radio" name="testimonial" id="t-6" />
    <input type="radio" name="testimonial" id="t-7" />
    <input type="radio" name="testimonial" id="t-8" />
    <input type="radio" name="testimonial" id="t-9" />
      <div class="testimonials mb-8">
        <label class="item" for="t-1">
          <div class="mycard">
            <p class="cardtitle">Ferny Ruiz</p>
            <div>
              <img src="../../../assets/FERNY-RUIZ.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Speaker, creadora de contenido digital, activista y escritora</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-2">
          <div class="mycard">
            <p class="cardtitle">Alfonso Martínez</p>
            <div>
              <img src="../../../assets/ALFONSO-MARTINEZ.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Doctor en Ciencias de la Computación por el IPN. Catedrático-Conacyt en el Instituto Nacional de Astrofísica, Óptica y Electrónica.</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-3">
          <div class="mycard">
            <p class="cardtitle">Aarón Benítez</p>
            <div>
              <img src="../../../assets/AARON-BENITEZ.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Fundador de VERSE Technology</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-4">
          <div class="mycard">
            <p class="cardtitle">Jonathan Bazán</p>
            <div>
              <img src="../../../assets/JONATHAN-BAZAN.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Ingeniero Biomédico, creador de la comunidad BIOMAKERS.</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-5">
          <div class="mycard">
            <p class="cardtitle">Jorge Abrams</p>
            <div>
              <img src="../../../assets/JORGE-ABRAMS.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Director General de la agencia Winn Innovation</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-6">
          <div class="mycard">
            <p class="cardtitle">Karla Paniagua</p>
            <div>
              <img src="../../../assets/KARLA-PANIAGUA.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Consultor de Neuromarketing en Neuromarketing, S.A., Director de Conectando Marcas y columnista de la sección de Neuromarketing en la REVISTA NEO.</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-7">
          <div class="mycard">
            <p class="cardtitle">Manami Ishikawa</p>
            <div>
              <img src="../../../assets/MANAMI-ISHIKAWA.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-8">
          <div class="mycard">
            <p class="cardtitle">Sergio Sosa</p>
            <div>
              <img src="../../../assets/SERGIO-SOSA.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Doctor en estudios transdisciplinarios de la cultura y la comunicación y Coeditora de la revista Economía Creativa en CENTRO</p>
            </div>
          </div>
        </label>
        <label class="item" for="t-9">
          <div class="mycard">
            <p class="cardtitle">Vinicius Covas</p>
            <div>
              <img src="../../../assets/VINICIUS-COVAS.jpg" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="carddescription">Fundador de HIVE ID Autor de “Creando Marcas en la Era de las Distracciones”</p>
            </div>
          </div>
        </label>
      </div>
      <div class="dots">
        <label for="t-1"></label>
        <label for="t-2"></label>
        <label for="t-3"></label>
        <label for="t-4"></label>
        <label for="t-5"></label>
        <label for="t-6"></label>
        <label for="t-7"></label>
        <label for="t-8"></label>
        <label for="t-9"></label>
      </div>
    </div>
  
    <!-- FOOTER -->
  
    <div class="foote">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-xs-12">
                  <div class="first">
                      <ul>
                        <li>
                          <img src="../../../assets/logotipo sin mano-01.png" class="imgfoot">
                        </li>
                        <li>
                          <a href="https://www.facebook.com/CongresoBITMX/" class="btn btn-success"><i class="fa-brands fa-facebook"></i></a>
                          <a href="https://www.instagram.com/congresobitmx/" class="btn btn-success"><i class="fa-brands fa-instagram"></i></a>
                      </ul>
                  </div>
              </div>
  
              <div class="col-md-4 col-xs-12">
              </div>
  
              <div class="col-md-4 col-xs-12">
                  <div class="third">
                      <h4>ATENCIÓN A CLIENTES</h4>
                      <ul>
                          <li>contacto@congresobit.com</li>
                          <li>(52) 9511234456</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>