<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <img src="../../../assets/bit.jpeg" routerLink="/home"class="bitimg">
    </div>
  </nav>
  
  <div class="row" style="padding-left: 8%; padding-right: 8%;">
    
    <h3> <i class="fa-solid fa-paper-plane" style="zoom: .9;"></i>   Conferencias</h3>
    <hr style="height: 2px; background-color: #625252;">
    <h3 style="color: #AE1E6A; padding-left: 3%;">DIA DOS</h3>
  </div>

  <br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/inovations trends-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Jorge Abrams</p>
            <h4 class="card-title">CONFERENCIA MAGISTRAL | INNOVATION TRENDS</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 09:05</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/inclusion & equality (1)-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Ferny Ruiz</p>
            <h4 class="card-title">"Pinta tu mundo del color que tu quieras"</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 10:05</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/mech & tech-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Conferencia magistral: MECH &TECH</p>
            <h4 class="card-title">Manami Ichikawa - HUAWEI</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 11:05</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/future & work-01.png" alt="">
          <div class="card-body">
            <p class="card-text">PENDIENTE</p>
            <h4 class="card-title">FUTURE & WORK</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 12:05</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/inovations trends-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Vinicius Covas</p>
            <h4 class="card-title">"NFTs: el futuro de la comunicación y el
              entretenimiento."</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 13:15</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/future & work-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Karla Panigua</p>
            <h4 class="card-title">"Competencias para el futuro: cuáles y por qué.</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 15:00</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/startup.png" alt="">
          <div class="card-body">
            <p class="card-text">PENDIENTE</p>
            <h4 class="card-title">Conferencia magistral | STARTUP/INCLUSIÓN</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 16:00</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>